<app-navbar2></app-navbar2>
<!--
<mat-tab-group mat-align-tabs="center" style="padding-top: 1cm;" >
    <mat-tab label="About US" >
        <p style="margin-top: 30px;">
        The tertiary education Commission has Ceased its operations with effect from 16 january 2020.Its powers
        and functions have passed to the two new statutory bodies.The Higher Education Commission (HEC) ad the
        Quality Assurance Authority (QAA).The Higher Education Commission (HEC) is the Regulatory Body for tertiary
        education.until Further Notice, both the statutory bodies are sharing the same physical address as the former TEC.
    
    </p>
<p>
   
       
       Moniter and oversee the higher education system;<br><br>
      Ensure:<br><br>
   The availability of adequate human resources, physical infrastructure and other material resources;<br><br>
   The rationalisation of teaching programmes in public higher education institutions; and<br><br>
     The planning and implementation of research in higher education institutions;
  </p>
 
    </mat-tab>
  
 
   
  </mat-tab-group>
-->
<img src="./assets/images/university3.png" alt="">

<div class="rect container-fluid"></div>
<h3 style="display: inline-block; position: absolute; top:150px;left: 0px; margin-top: 150px; padding-left: 80px; font-size: 30px; color: white;">
    About Us</h3>
<span class="container">
  <h3
    style="font-weight: bold;  font-size: 26px; text-align: left; margin-left: 15px; border-left: 3px solid #CF9D3B;padding: 10px;">
    Objects of Commission</h3>
  <p class="line"></p>
 
    <p style="text-align:left">The Commission shall- moniter and obsersee the higher education system;
      Commission (HEC) ad the Quality Assurance Authority (QAA).
      The Higher Education Commission (HEC) is the Regulatory Body for tertiary education.until Further Notice, both the
      statutory bodies are sharing the same physical address as the former TEC.

    </p>

</span>

<p class="bottom" style="font-size: 42px;  margin-left: 60px; text-align: left; ">The Higher Education Commission</p>

<p style="padding-top: 50px; font-family: Open Sans,Regular; color: #0D426C; font-size: 25px; text-align: left; line-height: 35px; margin-left: 60px; margin-right: 60px;">The tertiary education Commission has Ceased its operations with effect from 16 january 2020.Its powers and functions have passed to the two new statutory bodies.The Higher Education Commission (HEC) ad the Quality Assurance Authority (QAA).The Higher
    Education Commission (HEC) is the Regulatory Body for tertiary education.until Further Notice, both the statutory bodies are sharing the same physical address as the former TEC.</p>