.rect {
    position: absolute;
    display: inline-block;
    top: 235px;
    left: 0px;
    width: 1800px;
    height: 470px;
    background: transparent 0% 0% no-repeat padding-box;
    margin: -100px 0 0 -200px;
    opacity: 0.45;
    background-color: black;
}

.container {
    position: absolute;
    right: 90px;
    top: 150px;
    margin-left: 140px;
    margin-top: 94px;
    margin-bottom: 276px;
    max-width: 600px;
    padding: 50px;
    background-color: #0D426C;
    text-align: left;
    padding-top: 80px;
    color: white;
    border-radius: 30px;
}

.bottom {
    position: absolute;
    text-align: left;
    font: normal normal bold 42px/54px Open Sans;
    letter-spacing: 0px;
    color: #0D426C;
    top: 650px;
}

* {
    box-sizing: border-box;
}

.line {
    border-left: 3px solid #CE9C3C;
}