body {
    background-color: #F8FCFF;
}

@media (min-width: 800px) {
    .h-md-100 {
        height: 100vh;
    }
}

.bg-indigo {
    background: white
}

.active {
    color: #CE9C3C;
}

.area {
    background-color: #E7ECF0;
    margin-top: 7%;
}

.head {
    margin-left: 10px;
    color: #0D426C;
    font-size: 42px;
}

.btn {
    color: #0D426C;
    font-size: 20px;
}

.back {
    margin-left: 15%;
    margin-top: 5%;
}

.link {
    margin-top: -125%;
    color: #0D426C;
    font-size: 24px;
}