<!-- <mat-toolbar color="primary" class="navbar">
  <div class="content login" style="padding-bottom: 0cm;">
    <img src="./assets/images/hec.svg" alt="" width="150" height="55" style="margin-left:0px; ">

    </div>

    <div class="example-sidenav-content" >
      <button mat-mini-fab color="primary"  class="example-icon"  aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" >
          <mat-icon>menu</mat-icon>
        </button>
        </div>

    </mat-toolbar> -->
    <app-navbar2></app-navbar2>

<!-- <div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <ng-container matColumnDef="PEI">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PEI</th>
      <td mat-cell *matCellDef="let row">{{row.PEI}}</td>
    </ng-container>


    <ng-container matColumnDef="NIC">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NIC</th>
      <td mat-cell *matCellDef="let row">{{row.NIC}}</td>
    </ng-container>


    <ng-container matColumnDef="StudentId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Id</th>
      <td mat-cell *matCellDef="let row">{{row.StudentId}}</td>
    </ng-container>


    <ng-container matColumnDef="NameOfStudent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NameOfStudent</th>
      <td mat-cell *matCellDef="let row">{{row.NameOfStudent}}</td>
    </ng-container>

    <ng-container matColumnDef="StatusofStudent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status of Student</th>
      <td mat-cell *matCellDef="let row">{{row.StatusofStudent}}</td>
    </ng-container>


    <ng-container matColumnDef="ProgrammeCodeandName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Programme Code and Name</th>
      <td mat-cell *matCellDef="let row">{{row.ProgrammeCodeandName}}</td>
    </ng-container>


    <ng-container matColumnDef="Year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
      <td mat-cell *matCellDef="let row">{{row.Year}}</td>
    </ng-container>
    <ng-container matColumnDef="Semester">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Semester</th>
        <td mat-cell *matCellDef="let row">{{row.Semester}}</td>
      </ng-container>
      <ng-container matColumnDef="Module">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Module</th>
        <td mat-cell *matCellDef="let row">{{row.Module}}</td>
      </ng-container>
      <ng-container matColumnDef="AmountofFundsReleased">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount of Funds Released</th>
        <td mat-cell *matCellDef="let row">{{row.AmountofFundsReleased}}</td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div> -->

<html>

<head>
    <title>View Repeat Data</title>
</head>

<body>
    <h2>View Repeat Data</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">PEI</th>
                <th scope="col">NIC No</th>
                <th scope="col">Student Id</th>
                <th scope="col">Name Of Student</th>
                <th scope="col">Programme Code and Name</th>
                <th scope="col">Year</th>
                <th scope="col">Semester</th>
                <th scope="col">Module</th>
                <th scope="col">Amount of Funds Released</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2000</td>
                <td>111</td>
                <td>abc</td>
                <td>active</td>
                <td>11ab</td>
                <td>2021</td>
                <td>3</td>
                <td>abc</td>
                <td>56000</td>
            </tr>

        </tbody>
    </table>
</body>

</html>


