<!-- <mat-toolbar color="primary" class="navbar">
  <div class="content login" style="padding-bottom: 0cm;">
    <img src="./assets/images/hec.svg" alt="" width="150" height="55" style="margin-left:0px; ">
    
    </div>
   
    <div class="example-sidenav-content" >
      <button mat-mini-fab color="primary"  class="example-icon"  aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" >
          <mat-icon>menu</mat-icon>
        </button>
        </div>
      
    </mat-toolbar> -->
    <app-navbar2></app-navbar2>
<!-- <h2>View Programme Data</h2>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    
    <ng-container matColumnDef="PEI">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PEI</th>
      <td mat-cell *matCellDef="let row">{{row.PEI}}</td>
    </ng-container>

  
    <ng-container matColumnDef="ProgrammeCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Programme Code</th>
      <td mat-cell *matCellDef="let row">{{row.ProgrammeCode}}</td>
    </ng-container>

   
    <ng-container matColumnDef="ProgrammeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Programme Name</th>
      <td mat-cell *matCellDef="let row">{{row.ProgrammeName}}</td>
    </ng-container>

    <ng-container matColumnDef="NoofStudents">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No of Students</th>
      <td mat-cell *matCellDef="let row">{{row.NoofStudents}}</td>
    </ng-container>

  
    <ng-container matColumnDef="TutionFees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tution Fees</th>
      <td mat-cell *matCellDef="let row">{{row.TutionFees}}</td>
    </ng-container>


    <ng-container matColumnDef="GeneralFees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>General (Admin) Fees</th>
      <td mat-cell *matCellDef="let row">{{row.GeneralFees}}</td>
    </ng-container>

  
    <ng-container matColumnDef="ModeofStudy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mode of Study</th>
      <td mat-cell *matCellDef="let row">{{row.ModeofStudy}}</td>
    </ng-container>

   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div> -->

<html>

<head>
    <title>View Programme Data</title>
</head>

<body>
    <h2>View Programme Data</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">PEI</th>
                <th scope="col">Programme Code</th>
                <th scope="col">Programme Name</th>
                <th scope="col">No of Students</th>
                <th scope="col">Tution Fees</th>
                <th scope="col">General(admin) Fees</th>
                <th scope="col">Mode Of Study</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>45</td>
                <td>222</td>
                <td>hui</td>
                <td>670</td>
                <td>23000</td>
                <td>20000</td>
                <td>offline</td>
            </tr>

        </tbody>
    </table>
</body>

</html>



