<!-- <mat-toolbar color="primary" class="navbar">
  <div class="content login" style="padding-bottom: 0cm;">
    <img src="./assets/images/hec.svg" alt="" width="150" height="55" style="margin-left:0px; ">
    
    </div>
   
    <div class="example-sidenav-content" >
      <button mat-mini-fab color="primary"  class="example-icon"  aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" >
          <mat-icon>menu</mat-icon>
        </button>
        </div>
      
    </mat-toolbar> -->
    <app-navbar></app-navbar>
<h2>View Programme Data</h2>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="PEI">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PEI</th>
      <td mat-cell *matCellDef="let row">{{row.PEI}}</td>
    </ng-container>

    <!-- Student Id Column -->
    <ng-container matColumnDef="ProgrammeCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Programme Code</th>
      <td mat-cell *matCellDef="let row">{{row.ProgrammeCode}}</td>
    </ng-container>

    <!-- NIC Column -->
    <ng-container matColumnDef="ProgrammeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Programme Name</th>
      <td mat-cell *matCellDef="let row">{{row.ProgrammeName}}</td>
    </ng-container>

    <!-- Surname Column -->
    <ng-container matColumnDef="NoofStudents">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No of Students</th>
      <td mat-cell *matCellDef="let row">{{row.NoofStudents}}</td>
    </ng-container>

    <!-- Maiden Name (if applicable) Column -->
    <ng-container matColumnDef="TutionFees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tution Fees</th>
      <td mat-cell *matCellDef="let row">{{row.TutionFees}}</td>
    </ng-container>

    <!-- Other Name Column -->
    <ng-container matColumnDef="GeneralFees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>General (Admin) Fees</th>
      <td mat-cell *matCellDef="let row">{{row.GeneralFees}}</td>
    </ng-container>

    <!-- Academic Year And Month Of First Intake Column -->
    <ng-container matColumnDef="ModeofStudy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mode of Study</th>
      <td mat-cell *matCellDef="let row">{{row.ModeofStudy}}</td>
    </ng-container>

   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>


