
<body>
 <mat-toolbar color="primary" class="navbar">
    <div class="content login" style="padding-top: 0cm;">
      <img src="./assets/images/hec.svg" alt="" width="150" height="55" style="margin-left:0px; ">
      </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary">SignUp</button>
      <button mat-raised-button color="primary">Change Password</button>
     <a href="/login"> <button mat-raised-button color="primary" >Login</button></a>
     

    </div>
  </mat-toolbar>
<mat-card class="example-card">
    <mat-card-header>
     
      <mat-card-title class="form">Forgot Password</mat-card-title>
     
    </mat-card-header>
    
    <mat-card-content class="form">
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com"  required>
            <button mat-icon-button matSuffix >
                <mat-icon>email</mat-icon>
              </button>
           <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
          </mat-form-field>
    
     
    </mat-card-content>
    <mat-card-actions class="form">
       
        
          <button mat-raised-button (click)="openSnackBar()"color="primary"  >
           Send
          </button>
        
    </mat-card-actions>
  </mat-card>
  
</body>