body {
    background-color: #F8FCFF;
}

.card {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    offset: 2;
}

.form-control {
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 4%;
}

.card-footer {
    background-color: #0D426C;
    color: #F8FCFF;
}

.btn {
    margin-left: 85%;
    margin-top: -7%;
    background-color: #F8FCFF;
    color: #0D426C;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 20px;
    font-size: 20px;
}