.navbar{
    justify-content: space-between;
    background-color:lightgray;
    height: 80px;
    
}
span{
    padding-right: 1rem;
    color: navy;
}
.example-button-row {
    display: table-cell;
    width: 490px;
    margin-right: 200px;
  }

  .example-button-col {
    display: table-cell;
    width: 490px;

  }
  button{
     margin: 10px;
     
     
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  .example-container {
    margin: 0px;
    height: 100%;
   
 
  }
  
 
  
  .example-sidenav {
    padding: 20px;
  }
body{
  height: 100%;
}
.container {
  position: absolute;
  left: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
  z-index: 1;

}
img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 



}
  * {
    box-sizing: border-box;
  }
  
