<!-- <mat-toolbar color="primary" class="navbar">
  <div class="content login" style="padding-bottom: 0cm;">
    <img src="./assets/images/hec.svg" alt="" width="150" height="55" style="margin-left:0px; ">
    
    </div>
   
    <div class="example-sidenav-content" >
      <button mat-mini-fab color="primary"  class="example-icon"  aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" >
          <mat-icon>menu</mat-icon>
        </button>
        </div>
      
    </mat-toolbar> -->
    <app-navbar2></app-navbar2>
<!-- <h2>View Customized Data</h2>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
   
    <ng-container matColumnDef="PEI">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PEI</th>
      <td mat-cell *matCellDef="let row">{{row.PEI}}</td>
    </ng-container>

    <ng-container matColumnDef="ProgrammeCodeandName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Programme Code and Name</th>
      <td mat-cell *matCellDef="let row">{{row.ProgrammeCodeandName}}</td>
    </ng-container>


    <ng-container matColumnDef="ModuleCodeandName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Module Code and Name</th>
      <td mat-cell *matCellDef="let row">{{row.ModuleCodeandName}}</td>
    </ng-container>

    <ng-container matColumnDef="ProgrammeLevel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Programme Level</th>
      <td mat-cell *matCellDef="let row">{{row.ProgrammeLevel}}</td>
    </ng-container>

    
    <ng-container matColumnDef="ModeOfStudy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mode Of Study</th>
      <td mat-cell *matCellDef="let row">{{row.ModeOfStudy}}</td>
    </ng-container>

    <ng-container matColumnDef="NumberofStudents">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of Students</th>
      <td mat-cell *matCellDef="let row">{{row.NumberofStudents}}</td>
    </ng-container>

 
    <ng-container matColumnDef="AmountofFundReleased">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount of Fund Released</th>
      <td mat-cell *matCellDef="let row">{{row.AmountofFundReleased}}</td>
    </ng-container>

 
    <ng-container matColumnDef="DateFundreleasedtoPEIs">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Fund released to PEIs</th>
      <td mat-cell *matCellDef="let row">{{row.DateFundreleasedtoPEIs}}</td>
    </ng-container>
    


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div> -->


<html>

<head>
    <title>View Customized Data</title>
</head>

<body>
    <h2>View Customized Data</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">PEI</th>
                <th scope="col">Programme Code and Name</th>
                <th scope="col">Module Code and Name</th>
                <th scope="col">Programme Level</th>
                <th scope="col">Mode Of Study</th>
                <th scope="col">Number of Students</th>
                <th scope="col">Amount of Fund Released</th>
                <th scope="col">Date Fund released to PEIs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>8</td>
                <td>124cd</td>
                <td>67mu</td>
                <td>1</td>
                <td>online</td>
                <td>780000</td>
                <td>230000</td>
                <td>22/11/2021</td>
            </tr>

        </tbody>
    </table>
</body>

</html>



