<!-- <mat-toolbar color="primary" class="navbar">
  <div class="content login" style="padding-bottom: 0cm;">
    <img src="./assets/images/hec.svg" alt="" width="150" height="55" style="margin-left:0px; ">
    
    </div>
   
    <div class="example-sidenav-content" >
      <button mat-mini-fab color="primary"  class="example-icon"  aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" >
          <mat-icon>menu</mat-icon>
        </button>
        </div>
      
    </mat-toolbar> -->
    <app-navbar2></app-navbar2>
<!-- <h2>View Fee Data</h2>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    
    <ng-container matColumnDef="PEI">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PEI</th>
      <td mat-cell *matCellDef="let row">{{row.PEI}}</td>
    </ng-container>

    
    <ng-container matColumnDef="NumberofStudents">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of Students</th>
      <td mat-cell *matCellDef="let row">{{row.NumberofStudents}}</td>
    </ng-container>

  
    <ng-container matColumnDef="Feealreadyreleased">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fee already released</th>
      <td mat-cell *matCellDef="let row">{{row.Feealreadyreleased}}</td>
    </ng-container>

    
    <ng-container matColumnDef="AmountReleaseonFulltimecourses">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount Release on Full time courses</th>
      <td mat-cell *matCellDef="let row">{{row.AmountReleaseonFulltimecourses}}</td>
    </ng-container>

 
    <ng-container matColumnDef="AmountReleaseonParttimecourses">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount Release on Part time courses</th>
      <td mat-cell *matCellDef="let row">{{row.AmountReleaseonParttimecourses}}</td>
    </ng-container>

    



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div> -->


<html>

<head>
    <title>View Fee Data</title>
</head>

<body>
    <h2>View Fee Data</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">PEI</th>
                <th scope="col">Number of Students</th>
                <th scope="col">Fee already released</th>
                <th scope="col">Amount Releaseon Full time courses</th>
                <th scope="col">Amount Release on Part time courses</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1000</td>
                <td>500</td>
                <td>67000</td>
                <td>40000</td>
                <td>20000</td>
            </tr>

        </tbody>
    </table>
</body>

</html>



