<mat-toolbar color="primary" class="navbar" style="width: 100%;">
    <div class="content login" style="padding-bottom: 0cm;">
      <img src="./assets/images/hec.svg" alt="" width="150" height="55" style="margin-left:0px; ">
      
      </div>
      <div class="example-button-row" >
      
      
           
          <button mat-button color="primary"[routerLink]="['/home']" routerLinkActive="mat-accent">Home</button>
         
          <button mat-button color="primary" [routerLink]="['/aboutus']" routerLinkActive="mat-accent">About Us</button>
          <button mat-button color="primary" [routerLink]="['/help']" routerLinkActive="mat-accent">Online Help Facility</button>
          <button mat-button color="primary" [routerLink]="['/faq']" routerLinkActive="mat-accent">Faq</button>
          <button mat-button color="primary"[routerLink]="['/glossary']" routerLinkActive="mat-accent">Glossary</button>
          <button mat-button color="primary"[routerLink]="['/contact']" routerLinkActive="mat-accent">Contact</button>
          <button mat-raised-button color="warn">Logout</button>
          </div>
  
    
     <!--
      <div class="example-sidenav-content" >
        <button mat-mini-fab color="primary"  class="example-icon"  aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" >
            <mat-icon>menu</mat-icon>
          </button>
          </div>
        -->
      </mat-toolbar>
     
        
