<!--
<mat-toolbar color="primary" class="navbar" style="width: 100%;">
    <div class="content login" style="padding-bottom: 0cm;">
      <a href="/dashboard">      <img src="./assets/images/hec.svg" alt="" width="170" height="65" style="margin:50px; "></a>
      
      </div>
      <div class="example-button-row" >
      
      
           
          <button mat-button [routerLink]="['/home']" routerLinkActive="active"[routerLinkActiveOptions]={exact:true}>Home</button>
         
          <button mat-button  [routerLink]="['/aboutus']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>About Us</button>
          <button mat-button  [routerLink]="['/help']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Online Help Facility</button>
          <button mat-button [routerLink]="['/faq']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>FAQ</button>
          <button mat-button [routerLink]="['/glossary']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Glossary</button>
          <button mat-button [routerLink]="['/contact']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Contact</button>
          <button mat-raised-button style="font-size: 20px; background-color:#0F436D;padding: 0.2cm; padding-left: 0.5cm; padding-right: 0.5cm; "  [routerLink]="['/login']"  routerLinkActive="hidden" [routerLinkActiveOptions]={exact:true} >Sign In</button>
          </div>
  
    
    
      </mat-toolbar>
    -->
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#"> <img src="./assets/images/hec.svg" alt="" width="170" height="65" style="margin:40px; " class="img-fluid"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} style="color:#CE9C3C ;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/aboutus']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} style="color:#CE9C3C ;">About US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/help']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} style="color:#CE9C3C ;">Online Help Facility</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/faq']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} style="color:#CE9C3C ;">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/glossary']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} style="color:#CE9C3C ;">Glossary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} style="color:#CE9C3C ;">Contact</a>
            </li>
            <li class="nav-item">
                <button class=" my-2 my-sm-0 btn-lg" type="button">SignIn</button>
            </li>
        </ul>
    </div>
</nav>