.navbar{
    justify-content: space-between;
    background-color:white;
    height:50px;
   margin-right: 400px;

  
   
    
}
span{
    padding-right: 1rem;
    color: navy;
}
.example-button-row {
    display: table-cell;
    width: 490px;
    margin-right: 400px;
  
   
   
  }


  button{
     margin: 10px;
    font-size: 18px;
    color: #CE9C3C;
    font-family: Arial, Helvetica, sans-serif;
  
     
     
  }
  button:hover{
    font-weight: bold;
   
  
    
 }
 .active{
  font-weight: bold;
  
 
 


 
 
 }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  .example-container {
    margin: 0px;
    height: 100%;
   
 
  }
  
 
  
  .example-sidenav {
    padding: 20px;
  }
