
<mat-toolbar color="primary" class="navbar" style="width: 100%;">
    <div class="content login" style="padding-bottom: 0cm;">
      <img src="./assets/images/hec.svg" alt="" width="170" height="65" style="margin:50px; ">
      
      </div>
      <div class="example-button-row" >
      
      
           
          <button mat-button [routerLink]="['/home']" routerLinkActive="active"[routerLinkActiveOptions]={exact:true}>Home</button>
         
          <button mat-button  [routerLink]="['/aboutus']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>About Us</button>
          <button mat-button  [routerLink]="['/help']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Online Help Facility</button>
          <button mat-button [routerLink]="['/faq']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Faq</button>
          <button mat-button [routerLink]="['/glossary']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Glossary</button>
          <button mat-button [routerLink]="['/contact']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Contact</button>
          <button mat-raised-button style="font-size: 20px; background-color:#0F436D;padding: 0.2cm; padding-left: 0.5cm; padding-right: 0.5cm; " >Sign In</button>
          </div>
  
    
     <!--
      <div class="example-sidenav-content" >
        <button mat-mini-fab color="primary"  class="example-icon"  aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" >
            <mat-icon>menu</mat-icon>
          </button>
          </div>
        -->
      </mat-toolbar>
     
        
