<!-- <mat-toolbar color="primary" class="navbar">
  <div class="content login" style="padding-bottom: 0cm;">
    <img src="./assets/images/hec.svg" alt="" width="150" height="55" style="margin-left:0px; ">
    
    </div>
   
    <div class="example-sidenav-content" >
      <button mat-mini-fab color="primary"  class="example-icon"  aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" >
          <mat-icon>menu</mat-icon>
        </button>
        </div>
      
    </mat-toolbar> -->
    <app-navbar2></app-navbar2>
<!-- <h2>View Dropout Data</h2>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    
    <ng-container matColumnDef="PEI">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PEI</th>
      <td mat-cell *matCellDef="let row">{{row.PEI}}</td>
    </ng-container>

    
    <ng-container matColumnDef="NICNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NIC No</th>
      <td mat-cell *matCellDef="let row">{{row.NICNo}}</td>
    </ng-container>

    
    <ng-container matColumnDef="StudentId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Id</th>
      <td mat-cell *matCellDef="let row">{{row.StudentId}}</td>
    </ng-container>

    
    <ng-container matColumnDef="NameOfStudent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name Of Student</th>
      <td mat-cell *matCellDef="let row">{{row.NameOfStudent}}</td>
    </ng-container>

    <ng-container matColumnDef="ProgrammeCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Programme Code</th>
      <td mat-cell *matCellDef="let row">{{row.ProgrammeCode}}</td>
    </ng-container>

  
    <ng-container matColumnDef="Year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
      <td mat-cell *matCellDef="let row">{{row.Year}}</td>
    </ng-container>

   
    <ng-container matColumnDef="Semester">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Semester</th>
      <td mat-cell *matCellDef="let row">{{row.Semester}}</td>
    </ng-container>

  
    <ng-container matColumnDef="NoofModules">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No. of Modules</th>
      <td mat-cell *matCellDef="let row">{{row.NoofModules}}</td>
    </ng-container>
    <ng-container matColumnDef="TotalFundReleased">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Fund Released</th>
        <td mat-cell *matCellDef="let row">{{row.TotalFundReleased}}</td>
      </ng-container>
      <ng-container matColumnDef="DateClaimSubmitted">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Claim Submitted</th>
        <td mat-cell *matCellDef="let row">{{row.DateClaimSubmitted}}</td>
      </ng-container>
      <ng-container matColumnDef="Remarks">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
        <td mat-cell *matCellDef="let row">{{row.Remarks}}</td>
      </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div> -->

<html>

<head>
    <title>View Dropout Data</title>
</head>

<body>
    <h2>View Dropout Data</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">PEI</th>
                <th scope="col">NIC No</th>
                <th scope="col">Student Id</th>
                <th scope="col">Name Of Student</th>
                <th scope="col">Programme Code</th>
                <th scope="col">Year</th>
                <th scope="col">Semester</th>
                <th scope="col">No of Modules</th>
                <th scope="col">Total Fund Released</th>
                <th scope="col">Date Claim Submitted</th>
                <th scope="col">Remarks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>100</td>
                <td>1</td>
                <td>5</td>
                <td>joe</td>
                <td>65</td>
                <td>2021</td>
                <td>5</td>
                <td>8</td>
                <td>700000</td>
                <td>22/10/2021</td>
                <td>Done</td>
            </tr>

        </tbody>
    </table>
</body>

</html>
