<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Latest compiled and minified CSS 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{{title}}</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
      
      </ul>
      <button type="button" class="btn btn-success" style="position: relative; float:right;">Login</button>
      <button type="button" class="btn btn-primary" style="position: relative; float:right; margin-right: 5px;">SignUp</button>

    </div>
   
  </nav>

  <div class="mat-display-1">click me</div>
  <div class="mat-display-2">click me</div>
  <div class="mat-display-3">click me</div>
  <div class="mat-display-4">click me</div>
  <div>
  <button class="mat-button">Click me</button>

  
  <button class="mat-raised-button">Click me</button>
  <button class="mat-flat-button">Click me</button>
  <button class="mat-stroked-button">Click me</button>
  </div>
  <div>
<button mat-icon-button>icon</button>
<button mat-icon-button>icon</button>


  </div>-->
  
 <!-- <h3>Welcome User!!</h3>
  <mat-form-field floatLabel="auto" class="input" >
    <mat-label>Name</mat-label>
<input matInput>
</mat-form-field>
<mat-form-field floatLabel="auto" class="input">
 
<mat-label>Contact</mat-label>
<input matInput>

  </mat-form-field>

  <mat-form-field floatLabel="auto" class="input">
   
<mat-label>Address</mat-label>
<input matInput>
</mat-form-field>
<br>
<mat-form-field class="input">
  <mat-label>City</mat-label>
  <mat-select [(value)]="selectedvalue">
   
    <mat-option value="Maharashtra">Maharashtra</mat-option>
    <mat-option value="MadhyaPradesh">MadhyaPradesh</mat-option>
    <mat-option value="Pune">Pune</mat-option>
  </mat-select>
</mat-form-field>
<br>

<button class="mat-raised-button"(click)="login()">SignUp</button>

<h3>Great! You are from : {{selectedvalue}}</h3>-->


      <!--
    <div class="example-button-row">
      <button mat-raised-button color="">Home</button>
      <button mat-raised-button color="primary">DashBoard</button>
      <button mat-raised-button color="primary">About Us</button>
      <button mat-raised-button color="primary">Online Help Facility</button>
      <button mat-raised-button color="primary">Faq</button>
    </div>
  </mat-toolbar>
  
-->







<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
