.example-card {
    max-width: 300px;
    display: inline-block;
    margin: 10px;
    margin-top: 70px;
    height: 362px;
    left: 284px;
    box-shadow: 0px 12px 25px #0D426C1F;
    border-radius: 10px;
}

.rect {
    /* position: absolute;
    display: inline-block;
    top: 255px;
    left: 0px;
    width: 1800px;
    height: 440px;
    background: transparent 0% 0% no-repeat padding-box;
    margin: -100px 0 0 -200px;
    opacity: 0.45;
    background-color: black; */
    position: relative;
    top: -58%;
    width: 99%;
    height: 58%;
    margin: auto;
    opacity: 0.45;
    background-color: black;
    left: 0;
    right: 0;
}

.container {
    position: absolute;
    right: 90px;
    top: 150px;
    margin-left: 140px;
    margin-top: 94px;
    margin-bottom: 276px;
    max-width: 600px;
    padding: 50px;
    background-color: #0D426C;
    text-align: left;
    padding-top: 80px;
    color: white;
    border-radius: 30px;
}

.bottom {
    position: absolute;
    text-align: left;
    font: normal normal bold 42px/54px Open Sans;
    letter-spacing: 0px;
    color: #0D426C;
    top: 650px;
}

* {
    box-sizing: border-box;
}

.line {
    border-left: 3px solid #CE9C3C;
}

.search {
    top: 454px;
    left: 284px;
    width: 1000px;
    height: 156px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 25px 50px #0D426C1F;
    border-radius: 10px;
    opacity: 1;
    display: inline-block;
    position: absolute;
}

.searchtext {
    top: 500px;
    left: 340px;
    width: 224px;
    height: 59px;
    text-align: left;
    font: normal normal 600 22px/29px Open Sans;
    letter-spacing: 0px;
    color: #0D426C;
    opacity: 1;
    margin-top: 40px;
    margin-left: 20px;
}

.searchbar {
    position: absolute;
    top: 50px;
    left: 250px;
}

mat-card-title {
    text-align: left;
    font: normal normal bold 25px/29px Open Sans;
    letter-spacing: 0px;
    color: #0D426C;
    opacity: 1;
}

mat-card-content {
    text-align: left;
    font: normal normal normal Open Sans;
    letter-spacing: 0px;
    color: #0D426C;
    opacity: 1;
    font-size: 18px;
    padding: 20px;
}

.cardline {
    border-bottom: 1px solid #CE9C3C;
}

.view {
    text-align: center;
    color: #CE9C3C;
    font-size: 20px;
    padding-top: 20px;
}