<body>
    <app-navbar2></app-navbar2>
    <h2 style="text-align: center;"> Online Help Facility</h2>

<p style="text-align: center;">
  <mat-form-field appearance="fill" style="width: 500px;">
    <mat-label>We Are Here To Help You</mat-label>
    <input matInput placeholder="Search Here">
    <mat-icon matSuffix>search</mat-icon>
    
  </mat-form-field>
</p>

<mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>Top Help Articles (3)</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
      <p>
        What platforms is TeamsID compatible with?<br>
        Why TeamID?<br>
        TeamsID product demo<br>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>Getting Started (7)</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
      <p>
        Why TeamID?<br>
        How secure TeamID?<br>
        What do i do when i leave my company?<br>
        
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>Others (13)</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
      <p>
        Why TeamID?<br>
        How secure TeamID?<br>
        What do i do when i leave my company?<br>
        
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</body>
