<body>
    <app-navbar2></app-navbar2>
    <!--
    <h2 style="text-align: center;"> Online Help Facility</h2>

<p style="text-align: center;">
  <mat-form-field appearance="fill" style="width: 500px;">
    <mat-label>We Are Here To Help You</mat-label>
    <input matInput placeholder="Search Here">
    <mat-icon matSuffix>search</mat-icon>
    
  </mat-form-field>
</p>

<mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>Top Help Articles (3)</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
      <p>
        What platforms is TeamsID compatible with?<br>
        Why TeamID?<br>
        TeamsID product demo<br>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>Getting Started (7)</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
      <p>
        Why TeamID?<br>
        How secure TeamID?<br>
        What do i do when i leave my company?<br>
        
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>Others (13)</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
      <p>
        Why TeamID?<br>
        How secure TeamID?<br>
        What do i do when i leave my company?<br>
        
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>-->
  <img src="./assets/images/university3.png" alt="" style="top: 215px;
left: 0px;
width: 113%;
height: 530px;
background:  0% 0% no-repeat padding-box;
margin: -100px 0 0 -200px;
z-index: -1;
">

<div class="rect"></div>
<h3
  style="display: inline-block; position: absolute; top:150px;left: 0px; margin-top: 150px; padding-left: 80px; font-size: 30px; color: white;">
  Online Help Facility</h3>

  <div class="search">
<p class="searchtext">Let Us Know How We Can Help You ?</p>
<p style="text-align: center;" >
  <mat-form-field appearance="fill" style="width: 700px;" class="searchbar">
    <mat-label>We Are Here To Help You</mat-label>
    <input matInput placeholder="Search Here"  >
    <mat-icon matSuffix >search</mat-icon>
    
  </mat-form-field>
</p>
  </div>

  <mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>Top Help Articles (3)</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
      <p>
        What platforms is TeamsID compatible with?<br>
        Why TeamID?<br>
        TeamsID product demo<br>
      </p>
    </mat-card-content>
    <p class="cardline"></p>
    <p class="view">View All</p>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>Getting Started (7)</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
      <p>
        What TeamsID ?<br>
        How secure TeamID?<br>
        What do I do when I leave my company ?<br>
      </p>
    </mat-card-content>
    <p class="cardline"></p>
    <p class="view">View All</p>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title >Others (13)</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
      <p>
        What platforms is TeamsID compatible with?<br>
        Why TeamID?<br>
        TeamsID product demo<br>
      </p>
    </mat-card-content>
    <p class="cardline"></p>
    <p class="view">View All</p>
   
  </mat-card>

  
</body>
