  
    <!-- <app-navbar></app-navbar> -->
    <p style="font-size: 15px;padding-left: 2cm;"><b>Welcome</b> Rakhee Jain</p>

    <!-- <div class="content">
        <div class="container-main">
          <nav class="navbar navbar-expand-sm navbar-light" >
            <div class="container">
                <a class="navbar-brand" href="#">
                    <h3>Choose Claim</h3>
                </a>
            </div>
          </nav>
            <div class="form-group">
                <form>
                    <mat-form-field>
                        <input  type="file" id="formFile">
                    </mat-form-field>
                </form>
                <button mat-raised-button color="primary" type="button" style="margin-left: 900px; margin-top: 10px;">View</button>
                <button mat-raised-button color="" type="button" style="margin-top: 10px;">Delete</button>
              </div>
        </div>
        <button mat-raised-button color="primary" type="button" style="margin-left: 600px; margin-top: 10px;">Previous</button>
        <button mat-raised-button color="" type="button" style="margin-top: 10px;">Next</button>
    </div> -->

    <div class="container">
        <div class="heading">
            <h2>Choose Claim</h2>
        </div>
        <div class="form-group">
            <form>
                <mat-form-field>
                    <input class="form-control" type="file" />
                </mat-form-field>
                <button mat-raised-button color="primary" type="button" style="margin-right: 10px;" id="">View</button>
                <button mat-raised-button color="" type="button" id="delete">Delete</button>

            </form>
        </div>
        <div class="directions">
            <button mat-raised-button color="primary" type="button" style="margin-right: 10px;">Previous</button>
            <button mat-raised-button color="" type="button" >Next</button>
        </div>
        
    </div>
