
      <!--
    <div class="example-button-row">
      <button mat-raised-button color="">Home</button>
      <button mat-raised-button color="primary">DashBoard</button>
      <button mat-raised-button color="primary">About Us</button>
      <button mat-raised-button color="primary">Online Help Facility</button>
      <button mat-raised-button color="primary">Faq</button>
    </div>
  </mat-toolbar>
  <app-navbar></app-navbar>
     
-->
<body>

    <app-navbar2></app-navbar2>
       
          
      
   
  <!--<mat-drawer-container class="example-container" autosize>
     
     
      <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 300px;">
          
           
          
          <div class="example-button-col">
             
          <button mat-button color="primary"[routerLink]="['/home']" routerLinkActive="mat-accent">Home</button><br>
         
          <button mat-button color="primary">About Us</button><br>
          <button mat-button color="primary">Online Help Facility</button><br>
          <button mat-button color="primary">Faq</button><br>
          <button mat-button color="primary"[routerLink]="['/glossary']" routerLinkActive="mat-accent">Glossary</button><br>
          <button mat-button color="primary"[routerLink]="['/contact']" routerLinkActive="mat-accent">Contact</button><br>
          <button mat-raised-button color="warn">Logout</button>
          </div>
      </mat-drawer>
   
                <button type="button" mat-button (click)="drawer.toggle()">
                Toggle sidenav
              </button>
    -->
       <mat-drawer-container class="example-container" autosize style="overflow-y: hidden;">
        <div class="example-sidenav-content">

        
       
     
            <img src="./assets/images/university3.png" alt="" width="100%" height="600px"  >
            <mat-icon class="arrow" (click)="drawer.toggle()">arrow_forward_ios</mat-icon>
           
           </div>
        <mat-drawer #drawer class="example-sidenav" mode="side" >
            <div class="example-button-col">
                <button mat-button class="button" [routerLink]="['/pei']"  routerLinkActive="pei" [routerLinkActiveOptions]={exact:true}>Public Education Institute</button>
                <p class="lineside"></p>
                <button mat-button class="button">Admin</button>
                <p class="lineside"></p>
                <button mat-button class="button">Higher Education Commission</button>
                <p class="lineside"></p>
        </div>
        </mat-drawer>
        
        <mat-card class="example-card">
        
          <a href="/inputclaim">    <mat-card-subtitle style="text-align:center; color: #CE9C3C; font-size: 16px;" >Upload New Claim</mat-card-subtitle></a>
           
          </mat-card>
          <mat-card class="example-card">
        
           <a href="/uploadclaim"> <mat-card-subtitle style="text-align:center; color: #CE9C3C; font-size: 16px;" >Uploaded Claim</mat-card-subtitle></a>
           
          </mat-card>
          <mat-card class="example-card">
        
            <a href="/viewclaimpei">     <mat-card-subtitle style="text-align:center; color: #CE9C3C; font-size: 16px;" >View Claim</mat-card-subtitle></a>
           
          </mat-card>
          <mat-card class="example-card">
        
            <a href="/studentdetail">   <mat-card-subtitle style="text-align:center; color: #CE9C3C; font-size: 16px;" >View Student Details</mat-card-subtitle></a>
           
          </mat-card>
      
      
      </mat-drawer-container>
     
  <!--
      <div class="content" style="padding-top: 1cm; color: #000;">
       
        <div class="container"> 
          
            <h3 style="font-weight: bolder; text-decoration: underline;">The Higher Education Commission</h3>
        <div style="padding-top: 0cm; font-size: 17px;">
            <p>The tertiary education Commission has Ceased its operations with effect from 16 january 2020.Its powers
              and functions have passed to the two new statutory bodies.The Higher Education Commission (HEC) ad the
              Quality Assurance Authority (QAA).The Higher Education Commission (HEC) is the Regulatory Body for tertiary
              education.until Further Notice, both the statutory bodies are sharing the same physical address as the former TEC.
  
            </p>
        </div>
             
             </div>-->
             </body>
            
  
   
    
