<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

<app-navbar2></app-navbar2>
<!--
<h1>FAQ
</h1>
<p class="line"></p>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" style="margin:60px; background-color:#0F436D; "
    (closed)="panelOpenState = false"  >
<mat-expansion-panel-header>
<mat-panel-title style="color :#CE9C3C; font-size: 20px">
    What is HEC?
</mat-panel-title>

</mat-expansion-panel-header>
<p style="color: #CE9C3C; font-size: 20px" >HEC is a Higher Education institute</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true" style="margin:60px; background-color:#0F436D;"
(closed)="panelOpenState = false" >
<mat-expansion-panel-header>
<mat-panel-title style="color: #CE9C3C; font-size: 20px">
What is the Role HEC?
</mat-panel-title>

</mat-expansion-panel-header>
<p style="color:  #CE9C3C;font-size: 20px" >To provide funds to PEI</p>
</mat-expansion-panel>
</mat-accordion>

-->
<img src="./assets/images/university3.png" alt="" style="top: 215px;

width: 113%;
height: 420px;
background:  0% 0% no-repeat padding-box;
margin: -100px 0 0 -200px;
z-index: -1;
">

<div class="rect"></div>
<h3
  style="display: inline-block; position: absolute; top:150px;left: 0px; margin-top: 150px; padding-left: 80px; font-size: 30px; color: white;">
  FAQ</h3>
  <div class="faq">
<p class="faqtext"> 1) What is HEC ?</p>
<p class="faqtext2">HEC is Higher Education Commission</p>
<p class="help">Is it Helpful ?</p>
<div class="example-button-row">

     <div class="mat-button-toggle-group">
        <button mat-mini-fab   color="primary" disabled class="help2" aria-label="Example icon button with a menu icon" >
            <mat-icon style="color: #CF9D3B; "   >thumb_up</mat-icon>
        </button>
      </div>
 
  
    <div class="example-button-container" >
      <button mat-mini-fab  class="help3"  aria-label="Example icon button with a menu icon" >
          <mat-icon style="color: #CF9D3B;" >thumb_down</mat-icon>
      </button>
    </div>
    <hr style="background-color: #0D426C; margin: 30px;">

    <p class="faqtext"> 2) What is the role for HEC ?</p>
<p class="faqtext2">To provide funds to PEI</p>
<p style="position: absolute; left:1300px ; top:190px; text-align: left;
font: normal normal normal 20px/29px Open Sans; color: #0D426C;">Is it Helpful ?</p>
<div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-mini-fab color="primary" style="position: absolute; left:1430px; top: 190px;background-color: #0D426C;" >
            <mat-icon style="color: #CF9D3B;" >thumb_up</mat-icon>
        </button>
      </div>
  </div>
  
    <div class="example-button-container">
      <button mat-mini-fab    style="position: absolute; left:1480px; top: 190px;background-color: #0D426C;">
          <mat-icon style="color: #CF9D3B;" >thumb_down</mat-icon>
      </button>
    </div>
</div>
</div>
</div></body></html>

 