<app-navbar></app-navbar>
<h1>FAQ
</h1>
<p class="line"></p>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" style="margin:60px; background-color:#0F436D; "
    (closed)="panelOpenState = false"  >
<mat-expansion-panel-header>
<mat-panel-title style="color :#CE9C3C; font-size: 20px">
    What is HEC?
</mat-panel-title>

</mat-expansion-panel-header>
<p style="color: #CE9C3C; font-size: 20px" >HEC is a Higher Education institute</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true" style="margin:60px; background-color:#0F436D;"
(closed)="panelOpenState = false" >
<mat-expansion-panel-header>
<mat-panel-title style="color: #CE9C3C; font-size: 20px">
What is the Role HEC?
</mat-panel-title>

</mat-expansion-panel-header>
<p style="color:  #CE9C3C;font-size: 20px" >To provide funds to PEI</p>
</mat-expansion-panel>
</mat-accordion>

