<app-navbar2></app-navbar2>
<h2>View Claims</h2>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="FileNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>File Number</th>
      <td mat-cell *matCellDef="let row">{{row.FileNumber}}</td>
    </ng-container>

    <!-- Student Id Column -->
    <ng-container matColumnDef="DateUploaded">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Uploaded</th>
      <td mat-cell *matCellDef="let row">{{row.DateUploaded}}</td>
    </ng-container>

    <!-- NIC Column -->
    <ng-container matColumnDef="NumberofStudentsEligible">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Number Of Students Eligible</th>
      <td mat-cell *matCellDef="let row">{{row.NumberofStudentsEligible}}</td>
    </ng-container>

    <!-- Surname Column -->
    <ng-container matColumnDef="NumberofStudentsNotEligible">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Number Of Students Not Eligible</th>
      <td mat-cell *matCellDef="let row">{{row.NumberofStudentsNotEligible}}</td>
    </ng-container>

    <!-- Maiden Name (if applicable) Column -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row.Status}}  <button mat-raised-button color="primary" [routerLink]="['/singleviewfst']" style="margin-left: 30px;">View</button></td>
    
    </ng-container>

   
   

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
