<body >
 <!--<mat-toolbar color="primary" class="navbar">
    <div class="content login" style="padding-top: 0cm;">
      <img src="./assets/images/hec.svg" alt="" width="150" height="55" style="margin-left:0px; ">
      </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary">SignUp</button>
      <a href="/forgotpassword"> <button mat-raised-button color="primary">Change Password</button></a>
     <a href="/forgotpassword"> <button mat-raised-button color="primary" >Forgot Password</button></a>

    </div>
  </mat-toolbar>

<mat-card class="example-card">
    <mat-card-header>
     
      <mat-card-title class="form">Login</mat-card-title>
     
    </mat-card-header>
    
    <mat-card-content class="form">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput>
        <button mat-icon-button matSuffix >
          <mat-icon>account_circle</mat-icon>
        </button>
       
       
        
      </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Enter confirm password</mat-label>
           <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      
      </mat-form-field>
          <mat-checkbox class="example-margin">Remember me</mat-checkbox>  
     
    </mat-card-content>
    <mat-card-actions class="form">
       
        
          <button mat-raised-button (click)="openSnackBar()"color="primary"  >
           Login
          </button>
        
    </mat-card-actions>
  </mat-card>
-->


<app-navbar></app-navbar>

    <div class="column">
      <img src="./assets/images/loginimage.png" class="img" alt="" width="420px" height="65px" style="margin-left: 20px;">
    </div>
    <div class="example-card">
      
  
        <mat-card-header>
         
        <h2  class='form'style="position: absolute; top: 180px;  border-bottom: 2px solid #CE9C3C ;color: #CE9C3C ">SIGN IN</h2>
         
        </mat-card-header>
        
        <mat-card-content class="form" style="font-size: 15px;" >
          <mat-form-field appearance="fill" style="width: 350px; color:white">
            <mat-label style="color: grey;">Enter Email Id</mat-label>
            <input matInput >
            <button mat-icon-button matSuffix >
              <mat-icon>account_circle</mat-icon>
            </button>
           
           
            
          </mat-form-field>
            <mat-form-field appearance="fill" style="color: white; width: 350px; margin-left: 70px;">
              <mat-label style="color: grey;">Enter password</mat-label>
               <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          
          </mat-form-field>
              <mat-checkbox class="example-margin" style="color: white; margin-left: 80px;display: inline-block; ">Keep me Signed In </mat-checkbox>  
              <a mat-button href="https://www.google.com/" target="_blank" style="color: white; left: 0px;">Forgot Password ?</a>
        </mat-card-content>
       
        <mat-card-actions class="form">
           
            
              <button mat-raised-button style="background-color: #CE9C3C; width: 350px; padding: 6px; font-size: 20px; color:  #0F436D; margin-left: 10px; margin-top: 40px;"  >
               SIGN IN
              </button>
            
        </mat-card-actions>
     

    </div>

</body>