<!--
    <div class="example-button-row">
      <button mat-raised-button color="">Home</button>
      <button mat-raised-button color="primary">DashBoard</button>
      <button mat-raised-button color="primary">About Us</button>
      <button mat-raised-button color="primary">Online Help Facility</button>
      <button mat-raised-button color="primary">Faq</button>
    </div>
  </mat-toolbar>



<mat-toolbar color="primary" class="navbar">
    <div class="content login" style="padding-bottom: 0cm;">
      <img src="./assets/images/hec.svg" alt="" width="150" height="55" style="margin-left:0px; ">
      
      </div>
     
      <div class="example-sidenav-content" >
        <button mat-mini-fab color="primary"  class="example-icon"  aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" >
            <mat-icon>menu</mat-icon>
          </button>
          </div>
        
      </mat-toolbar>
     
        
      
 
<mat-drawer-container class="example-container" autosize>
   
   
    <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 300px;">
        
         
        
        <div class="example-button-col">
           
        <button mat-button color="primary" href="/home" [routerLink]="['/home']" routerLinkActive="mat-accent">Home</button><br>
       
        <button mat-button color="primary">About Us</button><br>
        <button mat-button color="primary">Online Help Facility</button><br>
        <button mat-button color="primary">Faq</button><br>
        <button mat-button color="primary" [routerLink]="['/glossary']" routerLinkActive="mat-accent">Glossary</button><br>
        <button mat-button color="primary" [routerLink]="['/contact']" routerLinkActive="mat-accent">Contact</button><br>
        <button mat-raised-button color="warn">Logout</button>
        </div>
    </mat-drawer>
   
      

-->
<app-navbar2></app-navbar2>

<body>
  <img src="./assets/images/university2.jpg" alt="">

  <div class="rect"></div>

    <!--
<table mat-table [dataSource]="dataSource" class="container" >

   
  
 
    <ng-container matColumnDef="glossary" >
      <th mat-header-cell *matHeaderCellDef style="color:#0D426C; font: normal normal 600 22px/54px Open Sans;;"> Glossary </th>
      <td mat-cell *matCellDef="let element" style="color:#0D426C; font: normal normal 600 22px/54px Open Sans;"> {{element.glossary}} </td>
    </ng-container>
 
    <ng-container matColumnDef="explanation">
      <th mat-header-cell *matHeaderCellDef style="color:#0D426C; font: normal normal 600 22px/54px Open Sans;"> Name </th>
      <td mat-cell *matCellDef="let element" style="color:#0D426C; font: normal normal 600 22px/54px Open Sans;"> {{element.explanation}} </td>
    </ng-container>
  
   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
-->


    <div class="container">
      <h2 style="font-size: 30px; padding-top: 20px; color: #0D426C;">Glossary</h2>
      <p style="font-size: 15px; color: #0D426C; padding-bottom: 20px;">Glossary and it's Brief.</p>
      <table class="table table-bordered" style="padding:50px; color:#0D426C ;">
        <thead>
          <tr>
            <th>Glossary</th>
            <th>Explanation</th>

          </tr>
        </thead>
        <tbody>

          <tr>
            <td>Basic Check</td>
            <td>Check such as on NID validity</td>

          </tr>
          <tr>
            <td>Claims</td>
            <td>Request of fund or request of fees from te PEIs to HEC for FTES</td>

          </tr>
          <tr>
            <td>FTEMIS</td>
            <td>The Proposed system</td>

          </tr>
          <tr>
            <td>FTES Portal</td>
            <td>The Proposed system</td>

          </tr>
          <tr>
            <td>Invalid Case</td>
            <td>Student does not meet the requirement follow the basic check</td>

          </tr>
        </tbody>
      </table>
    </div>

    <body>