
      <!--
    <div class="example-button-row">
      <button mat-raised-button color="">Home</button>
      <button mat-raised-button color="primary">DashBoard</button>
      <button mat-raised-button color="primary">About Us</button>
      <button mat-raised-button color="primary">Online Help Facility</button>
      <button mat-raised-button color="primary">Faq</button>
    </div>
  </mat-toolbar>



<mat-toolbar color="primary" class="navbar">
    <div class="content login" style="padding-bottom: 0cm;">
      <img src="./assets/images/hec.svg" alt="" width="150" height="55" style="margin-left:0px; ">
      
      </div>
     
      <div class="example-sidenav-content" >
        <button mat-mini-fab color="primary"  class="example-icon"  aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" >
            <mat-icon>menu</mat-icon>
          </button>
          </div>
        
      </mat-toolbar>
     
        
      
 
<mat-drawer-container class="example-container" autosize>
   
   
    <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 300px;">
        
         
        
        <div class="example-button-col">
           
        <button mat-button color="primary" href="/home" [routerLink]="['/home']" routerLinkActive="mat-accent">Home</button><br>
       
        <button mat-button color="primary">About Us</button><br>
        <button mat-button color="primary">Online Help Facility</button><br>
        <button mat-button color="primary">Faq</button><br>
        <button mat-button color="primary" [routerLink]="['/glossary']" routerLinkActive="mat-accent">Glossary</button><br>
        <button mat-button color="primary" [routerLink]="['/contact']" routerLinkActive="mat-accent">Contact</button><br>
        <button mat-raised-button color="warn">Logout</button>
        </div>
    </mat-drawer>
   
      
  
-->
<app-navbar></app-navbar>

 

<table mat-table [dataSource]="dataSource" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="glossary" >
      <th mat-header-cell *matHeaderCellDef> Glossary </th>
      <td mat-cell *matCellDef="let element"> {{element.glossary}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="explanation">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.explanation}} </td>
    </ng-container>
  
   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
    
  

