
 /* .navbar{
    justify-content: space-between;
    background-color:lightgray;
    height: 80px;
    width: 100%;
    
}
span{
    padding-right: 1rem;
    color: navy;
}
.example-button-row {
    display: table-cell;
    width: 490px;
  }

  .example-button-col {
    display: table-cell;
    width: 490px;

  }
  button{
     margin: 10px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  .example-container {
    margin: 0px;
    height: 500px;
    width: 100%;

    
   
   
   
 
  }*/
  
  
  .example-margin {
    margin: 0 10px;
  }







/*
button{
    margin-left: 40%;
    padding: 10px;
    border-radius: 10px;
    background-color: cornflowerblue;
}
*/

  



.rect{
   
      position: absolute;
      display: inline-block;
      top: 235px;
      left: 0px;
      width: 1800px;
      height: 635px;
      background: transparent 0% 0% no-repeat padding-box;
      margin: -100px 0 0 -200px;
      opacity: 0.45;
      background-color: black;

  }
  .container {
      position: absolute;
      top: 180px;
       margin-left: 200px;
      width: 1800px;
      height: 520px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 15px;
      opacity: 1; 
      padding: 30px;
     
  
  }
  
  img{
    top: 215px;
    left: 0px;
    width: 113%;
    height: 735px;
    background:  0% 0% no-repeat padding-box;
    margin: -100px 0 0 -200px;
    z-index: -1;
  
  }
  body{
    overflow-x: hidden;
    overflow-y: hidden;
  }